```
# Dependencies
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/
env/
ENV/
.ENV/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git/modules/
*.bin
*.zip
*.tar.gz
*.rar
.DS_Store
Thumbs.db
```